@using PriceIt.Data.Models
@model PriceIt.Data.Models.Product

@{
    var productLink = "";

    @if (Model.Website == Website.Amazon)
    {
        productLink = "https://www.amazon.de" + Model.ProductUrl;
    }

    @if (Model.Website == Website.MediaMarkt)
    {
        productLink = "https://www.mediamarkt.de" + Model.ProductUrl;
    }

    @if (Model.Website == Website.Saturn)
    {
        productLink = "https://www.saturn.de" + Model.ProductUrl;
    }
}

<div class="container">

    <a href="@productLink">
        <h5>@Model.Name</h5>
        <img src="@Model.ProductImageUrl" alt="@Model.Name" />
    </a>
    
    <p>Last updated at: @Model.LastUpdate</p>

    <p>price : @Model.Price</p>
    
    <a class="btn btn-light" asp-controller="UserList" asp-action="AddProductToList" asp-route-productId="@Model.Id">Added to a list</a>
</div>