@using PriceIt.Data.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        if (ViewData["test"] is List<Product> products)
        {
            <div>
                @foreach (var product in products)
                {
                    <a href="@product.ProductUrl">
                        <h5>@product.Name</h5>
                        <img src="@product.ProductImageUrl" alt="@product.Name"/>
                    </a>
                    <p>price : @product.Price</p>
                }
            </div>
        }
    }
</div>
